@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

html,
body {
  font-size: 16px;
  font-family: "Acme", sans-serif;
  color: white;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 30px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 820px;
  margin: 0 auto;
  padding: 20px 20px 0px 20px;
  width: 100%;
}

header img {
  width: 45px;
}

nav .nav-links {
  position: absolute;
  top: 100%;
  right: 0;
  width: 60%;
  height: 100vh;

  background: linear-gradient(180deg, #55e6a5 0%, #000000 100%);

  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  list-style: none;
  z-index: 1000;
  border-radius: 30px 0 0 30px;
}

.nav-links.open {
  transform: translateX(0);
}

nav .nav-links .link {
  color: white;
}

nav .nav-links .link:hover {
  color: black;
}

nav .nav-links li,
nav .nav-links li a {
  background-color: transparent;
}

nav .burger-menu {
  color: #55e6a5;
  cursor: pointer;
}

.icon-close {
  display: none;
}

.burger-menu.active .icon-menu {
  display: none;
}

.burger-menu.active .icon-close {
  display: block;
}

nav .burger-menu:hover {
  color: white;
  transition: 0.3s;
}

nav ul li .link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 2px 0;
  position: relative;
}

nav ul li .link:hover {
  color: #55e6a5;
  transition: 0.3s;
}

nav ul li .link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #fff;
  transition: width 0.3s;
}

nav ul li .link:hover::after,
nav ul li .link.active::after {
  width: 50%;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px;
    gap: 30px;
  }

  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px 10px;
    width: 100%;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 100px;
  }

  nav .nav-links {
    display: flex;
    list-style: none;
    position: static;
    height: auto;
    width: auto;
    padding: 0;
    background-color: transparent;
    background: none;
    transform: translateX(0);
    transition: none;
    flex-direction: row;
    gap: 50px;
  }

  header nav .burger-menu {
    display: none;
  }

  header nav .nav-links .contact a {
    padding: 7px 20px;
    color: #55e6a5;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #55e6a5;
  }

  header nav .nav-links .contact a:hover {
    background-color: #55e6a5;
    color: #fff;
    transition: 0.3s;
  }

  header nav .nav-links .contact .link::after {
    display: none;
  }

  nav ul li .link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #55e6a5;
    transition: width 0.3s;
  }
}
