@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

html, body{
    font-size: 16px;
    font-family: 'Acme', sans-serif;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px;
    gap: 30px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px 10px;
    width: 100%;
}

header img{
    width: 50px;
}

nav{
    display:flex;
    align-items: center;
    gap: 100px;
}

nav .nav-links{
    display: flex;
    list-style: none;
    gap:50px;
    
}

nav ul li .link{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 2px 0 ;
}

nav ul li .link:hover{
    color: #55e6a5;
    transition: 0.3s;
}

header .contact a{
    padding: 7px 20px;
    color: #55e6a5;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #55e6a5;
}

header .contact a:hover{
    background-color: #55e6a5;
    color: #fff;
    transition: 0.3s;
}

header .burger-menu{
    display: none;
}
